##### LOCAWEB - NAO REMOVER #####
AddHandler php7-script .php
suPHP_ConfigPath /home/moldmix9/
##### LOCAWEB - NAO REMOVER #####

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.moldmix.com.br/$1 [R,L]

RewriteCond %{HTTP_HOST} ^moldmix.com.br
RewriteRule ^ http://www.moldmix.com.br%{REQUEST_URI} [L,R=301]

# REMOVE PHP FROM URL
# REMOVE PHP EXTENSION
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php
